/*-----------------------------
        common style 
------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 50px;
}

span {
  color: #FFAD5A;
}

.btn {
  padding: 10px 40px;
  background-image: linear-gradient(to right, #FF5959, #FFAD5A);
  text-decoration: none;
  color: white;
  border-radius: 10px;
}



/*--------------Hire me Section start now---------------*/
.hire-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.hire-text-section {
  width: 50%;
  padding-left: 120px;
}

.heading {

  padding-bottom: 25px;
  padding-top: 105px;
}

.heading h1 {
  border-left: 4px solid;
  border-image: linear-gradient(#FF5959, #FFAD5A) 12;
  line-height: 1.25;
  border-image-outset: 10px;
  border-image-repeat: space;
}

.hire-text-section p {
  color: rgb(34, 34, 34);
  line-height: 1.70;
  padding-bottom: 15px;

}

.scroll-para {
  padding-top: 45px;
}

.hire-image-section {
  width: 20%;
  
}

.hire-image-section img {
  margin-top: 5%;
  width: 75%;
}

/*--------------Missin Section start now---------------*/
.my-mission h2 {
  font-size: 45px;
  color: #13103A;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
}

.my-mission-item {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-item1 {
  width: 35%;
  background-color: #EDF5F6;
  margin: 15px;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: left;

}

.mission-item1 div img {
  width: 160px;
}

.mission-img {
  text-align: center;
}

.mission-item1 h3 {
  line-height: 2;
  font-size: 25px;
  text-align: center;
}

.mission-item1 p {
  text-align: justify;
  padding-bottom: 30px;
  padding-top: 15px;
  font-size: 14px;
  line-height: 1.80;
}

#mission-item2 {
  background-color: #FFEEEE;
}

#mission-item3 {
  background-color: #FFF4D6;
}


/*-----------Develop Section start now--------------*/
.develop-section {
  display: flex;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.develop-img {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 190px;
  background-position: left;
  padding-left: 100px;
}

.develop-img img {
  width: 85%;
}

.develop-text h2 {
  font-size: 35px;
  padding-bottom: 20px;
}

.develop-text p {
  padding-bottom: 30px;
  text-align: justify;
  font-size: 17px;
}


/*--------------personal section start now----------------*/
.personal-section {
  display: flex;
  margin: 100px auto;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.personal-text {
  padding-left: 30px;
}

.personal-text h2 {
  font-size: 35px;
  padding-bottom: 20px;
}

.personal-text p {
  width: 80%;
  text-align: justify;
  padding-bottom: 50px;
  font-size: 17px;
}

.personal-img {
  position: relative;
}

.shapes {
  position: absolute;
  top: 350px;
  left: 350px;
  z-index: -1;

}

.shapes img {
  width: 200px;
}

.personal-images {
  width: 85%;
  z-index: 1;
}

/*---------our service section start now--------*/
.service-section {
  margin: 100px 0;
}

.service-section h2 {
  font-size: 45px;
  text-align: center;
  padding-bottom: 30px;
}

.service {
  display: flex;
  width: 80%;
  margin: 10px auto;
}

.service-item {
  width: 35%;
  box-shadow: 5px 9px 30px rgb(219, 217, 217);
  margin: 15px;
  text-align: center;
  padding: 25px;
}

.service-item img {
  padding-top: 20px;
}

.service-item h3 {
  font-size: 23px;
  line-height: 2;
  color: rgb(59, 59, 59);
  padding-bottom: 10px;
}

.service-item p {
  font-size: 15px;
  color: gray;
  line-height: 1.50;
}

.service-item a {
  padding: 8px 30px;
  background-image: linear-gradient(to right, #FF5959, #FFAD5A);
  text-decoration: none;
  color: white;
  border-radius: 10px;
  line-height: 5;
}


/*-------------Footer section start now------------*/
.footer-section {
  padding: 40px;
  text-align: center;
  background: #0B0D17;

}

.footer-section h4 {
  line-height: 2;
  color: white;
  font-size: 35px;
  padding-bottom: 10px;
  font-family: 'Lobster', cursive;
}

.footer-section p {
  color: gray;
}